body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #f5f5fd;
  color: #222;
}
header {
  background: #159111;
  color: #fff;
  padding: 30px 0 20px 0;
  text-align: center;
}
header h1 {
  margin: 0;
  font-size: 2.5em;
  letter-spacing: 2px;
}
nav {
  margin-top: 15px;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 18px;
  font-weight: 700;
  font-size: 1.1em;
  transition: border-bottom 0.2s;
}
nav a:hover {
  border-bottom: 2px solid #fff;
}
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
}
.producto {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(255,0,128,0.10);
  width: 250px;
  text-align: center;
  padding: 18px 12px 20px 12px;
}
.producto img {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 14px;
  box-shadow: 0 2px 10px rgba(60,0,120,0.10);
}
.producto h2 {
  font-size: 1.15em;
  margin: 12px 0 8px 0;
  font-weight: bold;
}
.producto p {
  color: #c83067;
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: 700;
}
.comprar {
  background: #159111;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 18px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  transition: background 0.2s;
}
.comprar:hover {
  background: #e2006e;
}
footer {
  background: #222;
  color: #f5f5fd;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  letter-spacing: 1px;
  font-size: 1em;
}


 
.button-container {
  position: fixed;     
  top: 0;
  right: 0;
  display: flex;       
  gap: 10px;           
  padding: 10px;        
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  background-color: #f0f0f0;
  right: 0;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}

#toast-carrito {
  position: fixed;
  top: 70px;
  right: 20px;
  background: #ffffff;
  color: #000;
  padding: 10px 16px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  font-size: 14px;
  display: none;          
  z-index: 1000;
}


.logo-marca {
  top: 10px;
  left: 20px;    
  height: 87px;   
  z-index: 1000;   
}




.footer-cols {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;   /* espacio debajo de la columna */
}

.footer-col {
  text-align: center;          
}

.footer-col h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-col a {
  display: block;
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
  margin: 2px 0;
}

.footer-col a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer-copy {
  font-size: 12px;
  color: #aaa;
}

